.form {
    display: flex;
    border-top: 2px solid #E26D5C;
    width: 100%;
}

.form input {
    border: none;
    font-size: 1.2em;
    padding: 20px;
    width: 85%;
}


.send-btn {
    background-color: #EE9986;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    width: 15%;
}

