@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');



$roboto-font: 'Roboto', sans-serif;
$raleway-font: 'Raleway', sans-serif;
$color-dark-pink: #E26D5C;
$color-light-pink: #EE9986;
$color-white: whitesmoke;
$color-background: #020202c9;
$color-grey-white: #F3F3F3;
$color-grey: #828282;
$color-msg-color: #353535;
